.CardContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 30%;
  height: 100%;
  align-items: stretch;
  overflow: scroll;
}
.SingleCardContainer {
  display: grid;
  grid-template-columns: 35% 25% 25%;
  grid-template-rows: 30% 35% 35%;
  grid-template-areas:
    "header header header store"
    "mid main main main"
    "footer mainbelow mainbelow mainbelow";
  background-color: #f1f1f1;
  width: 100%;
  height: 99%;
  border-bottom: 1px solid lightgrey;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2% 90% 5%;
  grid-template-rows: 6% 90% 4%;
}
.header-a {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-end: 2;
  font-size: 0.8em;
  justify-content: left;
  text-align: left;
  align-items: center;
}
.store {
  grid-area: store;
  display: grid;
  grid-template-columns: 6% 90% 4%;
  grid-template-rows: 10% 90% 2%;
}
.store-a {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-end: 2;
  font-size: 0.7em;
  justify-content: left;
  text-align: left;
  align-items: center;
}
.imgMainContainer {
  grid-area: main;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.imgContainer {
  height: auto;
  width: auto;
}
.img-a {
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 7%;
  max-width: 90%;
  max-height: 87%;
  display: block;
}
.imgBelowContainer {
  grid-area: mainbelow;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.mid {
  grid-area: mid;
  display: grid;
  grid-template-columns: 5% 90% 5%;
}
.mid-a {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  font-size: 0.8em;
  justify-content: left;
  text-align: left;
  align-items: center;
}
.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 90% 10%;
}
.footer-a {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  font-size: 0.8em;
  justify-content: left;
  text-align: left;
  align-items: c;
}
